$baseFontName: travelFont;
$fontSize_normal: 15px;
$path_reaction_icon: './assets/images/icons/';

// base colors
$success-color: #019160;
$danger-color: #ff4747;
$warning-color: #ffc107;
$info-color: #5bc0de;
$dark-color: #000;
$base-color: #fff;
$hover-color: #ccc;
$border-color: #ddd;