@use '../abstracts/' as ab;
@use 'sass:color';

%default-btn {
    min-width: 100px;
    border: none;
    color: ab.$base-color;
    line-height: 25px;
    border-radius: 4px;
}
.button {
    &--accept {
        @extend %default-btn;
        background-color: ab.$success-color;
        &:hover{
            @include ab.buttonHover;
            opacity: 0.8;
            color: ab.$dark-color;
        }

    }
    &--deny {
        @extend %default-btn;
        background-color: ab.$danger-color;
        &:hover{
            @include ab.buttonHover;
            opacity: 0.8;
            color: ab.$dark-color;
        }
    }
    &__slider {
        // position: absolute;
        width: 6%;
        // height: 100%;
        background-color: rgba(#000, 0.6);
        text-align: center;
        display: flex;
        visibility: hidden;
        align-items: center;
    }
    &__previous, &__next {
        .arrow-left, .arrow-right{ 
            width: 100%;
            text-align: center;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__next {
        top: 0;
        right: 0;
    }
}