@use '../abstracts/' as ab;

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    & > * {
        text-align: center;
    }
    td {
        padding: 15px 0;
        // border-bottom: 1px solid rgba($color: ab.$dark-color, $alpha: 0.2);
    }
    tbody tr {
        border-bottom: 1px solid rgba($color: ab.$dark-color, $alpha: 0.2);
        &:hover {
            background-color: #fff;
            cursor: pointer;
        }
    }
}
.table {
    &__description {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
