@use '../../abstracts/' as ab;


.navigation {
    &__header {
        color: ab.$base-color;
        position: relative;
        z-index: 3;
    }
    &__list {
        padding: 0;
        position: relative;
        z-index: 3;
    }
    &__list-item {
        @include ab.listStyle;
        padding: 15px;
        &:hover {
            @include ab.buttonHover;
            color: ab.$dark-color;
        }
        & i {
            margin-right: 10px;
            min-width: 16px;
            min-height: 16px;
        }
        &.selected {
            background-color: ab.$success-color;
            pointer-events: none;
        }
    }
}